.board--canvas,
.word,
.letter-btn {
  background-color: var(--hover-secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 6px;
  box-shadow: 0 2px 5px var(--bg-color);
}

.word--letter,
.letter-btn {
  font-weight: 700;
  font-size: calc(.85rem + .5vw);
  color: var(--primary-color);
}

/* Board */
.board--canvas {
  width: 100%;
  max-width: 1200px;
  min-height: 220px;
  max-height: 500px;
  margin: 0 auto;
}

/* Word */
.word {
  width: 100%;
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
  padding: 10px;
  user-select: none;
}

.word--letter {
  width: 40px;
  height: 30px;
  border-bottom: 5px solid var(--secondary-color);
  text-align: center;
}

.not-guessed {
  color: #e83636;
}

/* Alphabet */
.alphabet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 768px;
}

.letter-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  background-color: var(--bg-transparent-color);
  user-select: none;
}

.letter-btn:hover,
.letter-btn:active {
  background-color: var(--tertiary-color);
}
.letter-btn:focus {
  background-color: var(--hover-secondary-color);
}

.letter-btn:disabled {
  pointer-events: none;
  user-select: none;
  cursor: not-allowed;
}

.letter-btn.meet {
  background-color: var(--meet-color);
  border-color: var(--meet-color);
}

.letter-btn.wrong {
  background-color: var(--wrong-color);
  border-color: var(--wrong-color);
}

/* Options */
.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  margin-top: 2rem;
}

.options--btn {
  max-width: 320px;
}

@media screen and (min-width: 768px) {
  .options {
    flex-direction: row-reverse;
    justify-content: space-around;
  }
}