.welcome-main {
  display: grid;
  place-content: center;
  place-items: center;
  gap: 2rem;
  width: 100%;
  min-height: 70vh;
  text-align: center;
}

.welcome-main--title {
  font-size: calc(1.5rem + 3vw);
}